[Unit]
Description=Pacemaker High Availability Cluster Manager for Corosync stack
After=corosync.service
Requires=corosync.service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
PIDFile=/var/run/pacemakerd.pid
KillMode=process
NotifyAccess=main
EnvironmentFile=-/etc/sysconfig/pacemaker
ExecStart=/usr/sbin/pacemakerd -f --pid-file=/var/run/pacemakerd.pid
ExecStop=/usr/sbin/pacemakerd --shutdown

# Pacemaker can only exit after all managed services have shut down
# A HA database could conceivably take even longer than this 
TimeoutSec=30min

# Restart options include: no, on-success, on-failure, on-abort or always
Restart=on-failure
